{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>دوزبین | اسکن کن، جایزه ببر</title>
    <link rel="stylesheet" href="{% static 'appstatics/css/playstyle.css' %}?v=14">
    <link rel="stylesheet" href="{% static 'appstatics/css/style.css' %}?v=15">
    <link rel="stylesheet" href="{% static 'appstatics/css/nav.css' %}?v=17">
    <style>
        .bottom-menu {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 90px;
            z-index: 2;
            text-align: center;
            line-height: 60px;
        }

        .message {
            color: #fff;
        }
    </style>
</head>

<body>
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

<dotlottie-player src="{% static 'appstatics/js/sLiDkUlwc4.json' %}?v=12"
                  background="transparent" speed="1"
                  style="display: none;position: fixed; transform: translate(-50%, -50%);top: 30%; left: 50%;z-index:2;width: 300px; height: 300px;"
                  loop
                  autoplay id="coin"></dotlottie-player>

<dotlottie-player src="{% static 'appstatics/js/PB2Jm6jLtP.json' %}?v=12"
                  background="transparent" speed="1"
                  style="display: none;position: fixed; transform: translate(-50%, -50%);top: 30%; left: 50%;z-index:2;width: 300px; height: 300px;"
                  loop
                  autoplay id="warning-gif"></dotlottie-player>
<div class="message" id="warning-message" style="bottom: 45%!important;display: none">
    <p>&#128530;اینکه دیجیکالا نیست، دوباره تلاش کن!!!</p>
</div>

<div class="message" id="success-message" style="display: none">
    <img src="{% static 'appstatics/img/coin-1.png' %}" style="margin: 0 0 0 0.5rem">
    <p>تبریک، 25 دوزکوین دریافت کردی!!!</p>
</div>

<div id="first-scan" style="display: none">
    <div class="message primary-gradient-bg" id="warning-message"
         style="bottom: 55%!important;">
        <h2 id="first-scan-value"></h2>
    </div>

    <div class="message" id="success-message" style="bottom: 45%!important;">
        <p> &#128515;ایول، کد ارسال رایگان دیجیکالا برنده شدی!!!</p>
    </div>
</div>

<video class="fullscreen-video" id="video" autoplay playsinline></video>

<canvas id="canvas" width="640px" height="480px"></canvas>

<div class="icon">
    <a href="{% url 'account:user-profile' %}">
        <img src="{% static 'appstatics/img/coin-point-profile-pic.png' %}?v=5" alt="Icon" width="70px" height="70px">
    </a>
</div>

{% include 'core/base/_nav.html' %}
<div class="loader" style="display: none" id="loader"></div>

<button class="action-button" id="snap">
    <img src="{% static 'appstatics/img/trigger1.png' %}" alt="Button Icon" width="50px" height="50px">
</button>
{#<img src="{% static 'appstatics/img/tossing-coins-the-witcher-nightmare-of-the-wolf.gif' %}" class="fixed-gif"#}
{#     id="success-gif" style="display: none">#}

<div class="centered-frame">
    <img src="{% static 'appstatics/img/aiming.png' %}" class="centered-img" alt="" width="300px" height="300px">
</div>


<script src="{% static 'appstatics/js/script.js' %}"></script>
<script src="{% static 'appstatics/js/jquery-3.6.0.min.js' %}"></script>


<script>
    $(document).ready(function () {
        const video = document.getElementById("video")
        const canvas = document.getElementById("canvas")
        const snap = document.getElementById("snap")

        const constraints = {
            audio: false,
            video: {
                width: {min: 640, ideal: 640},
                height: {ideal: 480},
                facingMode: {exact: 'environment'}
            }
        }

        async function startWebcam() {
            try {
                const stream = await navigator.mediaDevices.getUserMedia(constraints)
                video.srcObject = stream
                window.stream = stream
            } catch (e) {
                console.log(e.toString())
            }
        }

        video.onloadedmetadata = () => {
            video.play();
        };

        var context = canvas.getContext("2d")
        snap.addEventListener('click', () => {
            canvas.width = video.videoWidth / 2;
            canvas.height = video.videoHeight / 2;
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            const imageData = canvas.toDataURL('image/jpeg', 0.7);

            $('#loader').show()
            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/scan/img/', true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        const response = JSON.parse(xhr.responseText);
                        $('#loader').hide()
                        if (response['status'] === true) {
                            if (response['first_scan'] === true) {
                                $('#first-scan').fadeIn("slow")
                                $('#first-scan-value').text(response['award_val'])
                                $("#first-scan").delay(5000).fadeOut("slow")
                            } else {
                                $('#coin').show()
                                $("#coin").delay(4500).fadeOut("slow");
                                $('#success-message').fadeIn(800)
                                $("#success-message").delay(3000).fadeOut("slow");
                            }
                        } else {
                            $('#warning-gif').fadeIn()
                            $("#warning-message").fadeIn()
                            $("#warning-gif").delay(1500).fadeOut()
                            $('#warning-message').delay(3000).fadeOut()
                        }
                    } else {
                        alert('error')
                    }
                }
            };
            xhr.send(JSON.stringify({image: imageData}));
        });

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        startWebcam()
    })
</script>

</body>

</html>