{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>دوزبین | اسکن کن، جایزه ببر</title>
    <link rel="stylesheet" href="{% static 'appstatics/css/playstyle.css' %}?v=1">
</head>

<body>
<script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

<dotlottie-player src="https://lottie.host/96c81b9f-87e0-422e-b10f-ee42eb9f0b7b/sLiDkUlwc4.json"
                  background="transparent" speed="1"
                  style="display:none;position: fixed; transform: translate(-50%, -50%);top: 30%; left: 50%;z-index:2;width: 300px; height: 300px;"
                  loop
                  autoplay id="coin"></dotlottie-player>

<dotlottie-player src="https://lottie.host/ce8087e4-9dbb-4096-bd9a-d6575240fc42/PB2Jm6jLtP.json"
                  background="transparent" speed="1"
                  style="display: none;position: fixed; transform: translate(-50%, -50%);top: 30%; left: 50%;z-index:2;width: 300px; height: 300px;"
                  loop
                  autoplay id="warning-gif"></dotlottie-player>
<div class="message" id="warning-message" style="bottom: 45%!important;display: none">
    <p>&#128530;اینکه دیجیکالا نیست، دوباره تلاش کن!!!</p>
</div>

<div class="message" id="success-message" style="display: none">
    <img src="{% static 'appstatics/img/coin-1.png' %}" style="margin: 0 0 0 0.5rem">
    <p>تبریک، 25 دوزکوین دریافت کردی!!!</p>
</div>


<video class="fullscreen-video" id="video" autoplay playsinline></video>

<canvas id="canvas" width="640px" height="480px"></canvas>

<div class="icon">
    <img src="{% static 'appstatics/img/coin-point-profile-pic.png' %}?v=1" alt="Icon" width="70px" height="50px">
</div>

<div class="bottom-menu">
    <nav class="tab-bar">
        <ul class="tab-bar__tabs">
            <li class="tab-bar__tab">
                <a class="tab-bar__tab-link" href="{% url 'core:home' %}" aria-current="page">
                    <svg class="tab-bar__tab-icon tab-bar__tab-icon--home" viewBox="0 0 24 24" width="24px"
                         height="24px" aria-hidden="true">
                        <g class="tab-bar__tab-icon-1" fill="var(--focus-t)" stroke="currentColor" stroke-width="2"
                           stroke-linejoin="round">
                            <polygon points="12 1,23 10,23 23,16 23,16 14,8 14,8 23,1 23,1 10"/>
                        </g>
                    </svg>
                    <span class="tab-bar__tab-name">خانه</span>
                </a>
            </li>
            <li class="tab-bar__tab">
                <a class="tab-bar__tab-link" href="{% url 'brand:shop' %}">
                    <svg class="tab-bar__tab-icon tab-bar__tab-icon--videos" viewBox="0 0 24 24" width="24px"
                         height="24px" aria-hidden="true">
                        <g fill="var(--focus-t)" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                           stroke-linejoin="round">
                            <line class="tab-bar__tab-icon-1" x1="3" y1="1" x2="21" y2="1"/>
                            <line x1="2" y1="5" x2="22" y2="5"/>
                            <g class="tab-bar__tab-icon-2" transform="translate(1,9)">
                                <polygon points="9 3,15 7.5,9 11"/>
                                <rect rx="2" ry="2" width="22" height="14"/>
                                <polygon class="tab-bar__tab-icon-3" opacity="0" points="9 3,15 7.5,9 11"/>
                            </g>
                        </g>
                    </svg>
                    <span class="tab-bar__tab-name">فروشگاه</span>
                </a>
            </li>
            <li class="tab-bar__tab">
                <a class="tab-bar__tab-link" href="#books">
                    <svg class="tab-bar__tab-icon tab-bar__tab-icon--books" viewBox="0 0 24 24" width="24px"
                         height="24px" aria-hidden="true">
                        <g class="tab-bar__tab-icon-1" fill="var(--focus-t)" stroke="currentColor" stroke-width="2"
                           stroke-linecap="round" stroke-linejoin="round">
                            <rect class="tab-bar__tab-icon-2" x="1" y="1" rx="2" ry="2" width="11" height="19"/>
                            <rect class="tab-bar__tab-icon-3" x="12" y="1" rx="2" ry="2" width="11" height="19"/>
                            <line x1="12" y1="21" x2="12" y2="23"/>
                        </g>
                    </svg>
                    <span class="tab-bar__tab-name">لیدر برد</span>
                </a>
            </li>
            <li class="tab-bar__tab">
                <a class="tab-bar__tab-link" href="{% url 'account:user-profile' %}">
                    <svg class="tab-bar__tab-icon tab-bar__tab-icon--profile" viewBox="0 0 24 24" width="24px"
                         height="24px" aria-hidden="true">
                        <g fill="var(--focus-t)" stroke="currentColor" stroke-width="2">
                            <circle class="tab-bar__tab-icon-1" cx="12" cy="6.5" r="5.5"/>
                            <path
                                    d="M20.473,23H3.003c-1.276,0-2.228-1.175-1.957-2.422,.705-3.239,3.029-8.578,10.693-8.578s9.987,5.336,10.692,8.575c.272,1.248-.681,2.425-1.959,2.425Z"/>
                        </g>
                    </svg>
                    <span class="tab-bar__tab-name">پروفایل</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<div class="loader" style="display: none" id="loader"></div>

<button class="action-button" id="snap">
    <img src="{% static 'appstatics/img/trigger1.png' %}" alt="Button Icon" width="50px" height="50px">
</button>
{#<img src="{% static 'appstatics/img/tossing-coins-the-witcher-nightmare-of-the-wolf.gif' %}" class="fixed-gif"#}
{#     id="success-gif" style="display: none">#}

<div class="centered-frame">
    <img src="{% static 'appstatics/img/aiming.png' %}" class="centered-img" alt="" width="300px" height="300px">
</div>


<script src="{% static 'appstatics/js/script.js' %}"></script>
<script src="{% static 'appstatics/js/jquery-3.6.0.min.js' %}"></script>


<script>
    $(document).ready(function () {
        const video = document.getElementById("video")
        const canvas = document.getElementById("canvas")
        const snap = document.getElementById("snap")

        const constraints = {
            audio: false,
            video: {
                width: {min: 1024, ideal: 1280},
                height: {ideal: 720},
                facingMode: {exact: 'environment'}
            }
        }

        async function startWebcam() {
            try {
                const stream = await navigator.mediaDevices.getUserMedia(constraints)
                video.srcObject = stream
                window.stream = stream
            } catch (e) {
                console.log(e.toString())
            }
        }

        video.onloadedmetadata = () => {
            video.play();
        };

        var context = canvas.getContext("2d")
        snap.addEventListener('click', () => {
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            context.drawImage(video, 0, 0, canvas.width, canvas.height);
            const imageData = canvas.toDataURL('image/png');
            $('#loader').show()
            $.ajax({
                url: '/scan/img/',
                type: 'POST',
                contentType: 'application/json;charset=UTF-8',
                headers: {
                    "X-Requested-With": "XMLHttpRequest",
                    'X-CSRFToken': getCookie('csrftoken')
                },
                data: JSON.stringify({image: imageData}),
                success: function (response) {
                    $('#loader').hide()
                    if (response['status'] === true) {
                        $('#coin').show()
                        $("#coin").delay("4500").fadeOut("slow");
                        $('#success-message').fadeIn(800)
                        $("#success-message").delay(3000).fadeOut("slow");
                    } else {
                        $('#warning-gif').fadeIn()
                        $('#warning-message').fadeIn()
                        $('#warning-gif').delay(1000).fadeOut()
                        $('#warning-message').delay(3000).fadeOut()
                    }
                },
                error: function (xhr, status, error) {
                    alert(error);
                    $('#loader').hide()
                }
            });
        });

        // تابع برای دریافت CSRF token در Django
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        startWebcam()
    })
</script>

</body>

</html>