{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'appstatics/css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'appstatics/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'appstatics/css/style.css' %}?v=15">
    <link rel="stylesheet" href="{% static 'appstatics/css/nav.css' %}?v=12">
    {% block meta_css_code %}

    {% endblock %}
</head>
{% with request.resolver_match.url_name as url_name %}
    <body class="body">

    {% if url_name != 'login' and url_name != 'otp-verify' and url_name != 'complete-register' %}
        {% include 'core/base/_nav.html' %}
    {% endif %}

    <div class="container mt-5 p-4">
        {% block main_content %}

        {% endblock %}
    </div>

    <script src="{% static 'appstatics/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'appstatics/js/script.js' %}"></script>

    {% block meta_js_code %}

    {% endblock %}
    </body>
{% endwith %}

</html>