{% extends 'core/base/_base.html' %}
{% load static %}

{% block title %}
    دوزبین | دارایی ها
{% endblock %}

{% block main_content %}
    <div class="d-flex justify-content-center align-items-center flex-column">
        <div class="col-12 text-center my-5">
            <div class="box">
                <img src="{% static 'appstatics/img/coin-point-profile-pic.png' %}" alt="profile" class="box-pic">
                <p class="box-balance" dir="rtl">
                    <img src="{% static 'appstatics/img/coin-1.png' %}" alt="">
                    {{ request.user.userwallet.balance }} دوزکوین
                </p>
            </div>
        </div>
        <div class="col-12 text-center my-2">
            <div class="box">
                <h6 class="text-white">دارایی ها</h6>
                <hr class="bg-secondary"/>
                {% for asset in object_list %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex justify-content-center align-items-center">
                            <img src="{{ asset.asset.logo.url }}" alt="">
                            <div dir="rtl" class="ms-3 text-right mt-2">
                                <a href="#" class="input-text text-center">{{ asset.asset.title }}</a>
                                <p class="text-white">{{ asset.asset.value }}</p>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-outline-secondary btn-sm" disabled>
                                <img src="{% static 'appstatics/img/coin-1.png' %}">
                                {{ asset.price }}
                            </button>
                        </div>
                    </div>
                    <hr class="bg-secondary"/>
                {% endfor %}

            </div>
        </div>
        <div class="col-12 my-3">

            <a href="{% url 'core:home' %}" class="btn btn-secondary p-2 border-none">
                بازگشت
            </a>

        </div>
    </div>
{% endblock %}